# Python virtual environments
backend/.venv/
.venv/
node_modules/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# SQLite database files
*.db

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db